@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	font-family: "lato" , sans-serif;
	text-align: center;

}

.footer-text__container {
	margin-bottom: 15px;
}
.text-red {
	width: 600px;
	border-radius: 60%;
	border: 2px solid red;
	padding: 25px 0;
	background-color: brown;
	color: burlywood;
	font-size: 30px;
}
.text-green {
	width: 600px;
	border-radius: 60%;
	border: 2px solid green;
	padding: 25px 0;
	margin-left: 600px;
	background-color: rgb(74, 142, 5);
	color: burlywood;
	font-size: 30px;
}
.text-blue {
	width: 600px;
	border-radius: 60%;
	border: 2px solid blue;
	padding: 25px 0;
	background-color: rgb(10, 10, 216);
	color: burlywood;
	font-size: 30px;
}

.header-text{
	padding: 15px 0;
	text-align: center;
	font-size: 25px;
	color: rgb(11, 57, 144);
}
.header-color {
	background-color: rgba(106, 111, 15, 0.56);
}
.header-img{
	border: 1px solid transparent;
	padding: 5px;
	width: 160px;
	margin: 0 auto;
}
.header-img:hover{
	transform: rotate(180deg);
	background-color: rgba(114, 36, 130, 0.533);
	border-radius:80%;
}